<p class="dsp:none">
    <!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: adsense
    *   Path:       template/
    *   File:       adsense.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      v15-2020-03-15
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
-->
</p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Google Adsense.</p>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/logo_google_adsense_color_1x_web_512dp.max-600x600.png" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Xidipity Adsense Template</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">v15-2020-03-15</p>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/logo_google_adsense_color_1x_web_512dp.max-600x600.png" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Xidipity Adsense Template</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">v15-2020-03-15</p>
                </div>
            </div>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200315/tmpl/adsense/responsive   -->
            <div class="dsp:block pad:hrz+2 sm)dsp:none sm)pad:hrz+0">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-3773234116666593" data-ad-slot="3797865743" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
            <!-- /xwpt: 200315/tmpl/adsense/responsive  -->
            <!-- xwpt: 200315/tmpl/adsense/inarticle    -->
            <div class="dsp:none sm)dsp:block mar:top-1.5 mar:bottom-0">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display: block; text-align: center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-3773234116666593" data-ad-slot="4393396845"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
            <!-- /xwpt: 200315/tmpl/adsense/inarticle    -->
        </div>
    </div>
</div>
<!-- /xwpt: 200315/tmpl/container           -->
<p>&nbsp;</p>
<pre>
&lt;div class=&quot;web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%&quot;&gt;
    &lt;div class=&quot;fx:r fxa:1 fxb:1 fxc:3&quot;&gt;
        &lt;div&gt;
            &lt;img class=&quot;pad:right+0.5 wd:3&quot; alt=&quot;Xidipity Template&quot; src=&quot;https://storage.googleapis.com/gweb-uniblog-publish-prod/images/logo_google_adsense_color_1x_web_512dp.max-600x600.png&quot; /&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;p class=&quot;fnt:size-larger fnt:weight-bolder&quot;&gt;Xidipity Adsense Template&lt;/p&gt;
            &lt;p class=&quot;fnt:size-x-small fg:wcag-grey9&quot;&gt;v15-2020-03-15&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;mce[dsp:none]&quot;&gt;
    &lt;!-- xwpt: 200315/tmpl/adsense/responsive   --&gt;
    &lt;div class=&quot;dsp:block pad:hrz+2 sm)dsp:none sm)pad:hrz+0&quot;&gt;
    <span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#script#</span>
    &lt;/div&gt;
    &lt;!-- /xwpt: 200315/tmpl/adsense/responsive  --&gt;
    &lt;!-- xwpt: 200315/tmpl/adsense/inarticle    --&gt;
    &lt;div class=&quot;dsp:none sm)dsp:block mar:top-1.5 mar:bottom-0&quot;&gt;
    <span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#script#</span>
    &lt;/div&gt;
    &lt;!-- /xwpt: 200315/tmpl/adsense/inarticle    --&gt;
&lt;/div&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>#script#</h3>
<p>Script(s) from the Google Adsense dashboard. The template is designed to use an in-article script for standard media and a responsive script for mobile.</p>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template markers must be updated before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Adsense.” Google, google.com/adsense/start/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
