<p class="dsp:none">
    <!--
    * WordPress Xidipity(.com) HTML File
    *
    * Page Title:   annotation
    * Slug:         annotation.html
    * Path:         template/
    * Copyright     2019-2020 John Baer
    * GitHub:       https://github.com/WpThemeDev/xidipity.com/
    * Build:        200226
    * License URI:  http://www.gnu.org/licenses/gpl-3.0.txt
    *
-->
</p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Annotation template.</p>
<p>&nbsp;</p>
<h5>standard</h5>
<!-- xwpt: 200226/tmpl/an/comment           -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:pri cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Your content here &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200226/tmpl/an/comment          -->
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200226/tmpl/an/comment           --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:pri cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%"&gt;
                <span class="dsp:inline-block fg:wcag-red pad:hrz+0.25">#msg#</span>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /xwpt: 200226/tmpl/an/comment          --&gt;
</pre>
<p>&nbsp;</p>
<h5>alternate</h5>
<!-- xwpt: 200226/tmpl/an/comment           -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Your content here &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200226/tmpl/an/comment          -->
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200226/tmpl/an/comment           --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%"&gt;
                <span class="dsp:inline-block fg:wcag-red pad:hrz+0.25">#msg#</span>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /xwpt: 200226/tmpl/an/comment          --&gt;
</pre>
<p>&nbsp;</p>
<h2>template markers</h2>
<h5>#msg#</h5>
<p>Message to display. The content may consist of the following:</p>
<ul class="fnt:size-smaller sm)fnt:size-default">
    <li>text only</li>
    <li>text and icon
    <ul>
        <li>font awesome icon</li>
        <li>google icon</li>
    </ul></li>
    <li>image ( png/jpg scaled to appropriate dimensions )</li>
    <li>animated gif ( scaled to appropriate dimensions )</li>
    <li>emoji / unicode character</li>
</ul>
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Annotations.” Xidipity Web Docs, doc.xidipity.com/reference/template-library/annotations/.</li>
            <li>“Annotation Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
