<p class="dsp:none">
    <!--
    * WordPress Xidipity(.com) HTML File
    *
    * Page Title:   button
    * Slug:         button.html
    * Path:         template/
    * Copyright     2019-2020 John Baer
    * GitHub:       https://github.com/WpThemeDev/xidipity.com/
    * Build:        200208
    * License URI:  http://www.gnu.org/licenses/gpl-3.0.txt
    *
-->
</p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Submit button wrapped in a form.</p>
<p>&nbsp;</p>
<h5>standard</h5>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/btn/dft              -->
<form action="#">
    <button type="submit"><span class="pad:right+0.5"><i class="fas fa-home">&#x200B;</i></span>Home</button>
</form>
<!-- /xwpt: 200208/tmpl/btn/dft             -->
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200208/tmpl/btn/dft              --&gt;
&lt;form action="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#url#</span>"&gt;
    &lt;button type="submit"&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#content#</span>&lt;/button&gt;
&lt;/form&gt;
&lt;!-- /xwpt: 200208/tmpl/btn/dft             --&gt;
</pre>
<p>&nbsp;</p>
<h5>alternate</h5>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/btn/dft              -->
<form action="#">
    <button class="bg:blk bg:bas-800!hover" type="submit"><span class="pad:right+0.5"><i class="fas fa-home">&#x200B;</i></span>Home</button>
</form>
<!-- /xwpt: 200208/tmpl/btn/dft             -->
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200208/tmpl/btn/dft              --&gt;
&lt;form action="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#url#</span>"&gt;
    &lt;button class="bg:blk bg:bas-800!hover" type="submit"&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#content#</span>&lt;/button&gt;
&lt;/form&gt;
&lt;!-- /xwpt: 200208/tmpl/btn/dft             --&gt;
</pre>
<p>&nbsp;</p>
<h2>template markers</h2>
<h5>#url#</h5>
<p>Link to execute when the button is pressed.</p>
<p>&nbsp;</p>
<h5>#content#</h5>
<p>Button content. The content may consist of the following:</p>
<ul class="li:qtr-spaced fnt:size-smaller sm)fnt:size-default">
    <li>text only</li>
    <li>text and icon
    <ul>
        <li>font awesome icon</li>
        <li>google icon</li>
    </ul></li>
    <li>image ( png/jpg scaled to appropriate dimensions )</li>
    <li>animated gif ( scaled to appropriate dimensions )</li>
    <li>emoji / unicode character</li>
</ul>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template markers must be updated before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“The Button Element.” MDN Web Docs, developer.mozilla.org/en-US/docs/Web/HTML/Element/button.</li>
            <li>“Buttons.” Xidipity Web Docs, doc.xidipity.com/reference/template-library/buttons/.</li>
            <li>“Button Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
