<p class="dsp:none"><!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: container
    *   Path:       template/
    *   File:       container.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      v15-2020-03-15-01
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
--></p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Content container.</p>
<p>&nbsp;</p>
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
	<p>&nbsp;</p>
    <!-- xwpt: 200315/tmpl/container            -->
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">Your content here &hellip;<p>&#10873;</p></div>
    <!-- /xwpt: 200315/tmpl/container           -->
    <p>&nbsp;</p>
    <h6>web view</h6>
	<p>&nbsp;</p>
    <!-- xwpt: 200315/tmpl/container            -->
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">Your content here &hellip;<p class="web[dsp:none]">&#10873;</p></div>
    <!-- /xwpt: 200315/tmpl/container           -->
    <p>&nbsp;</p>
</div>
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200315/tmpl/container            --&gt;
&lt;div class=&quot;bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%&quot;&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;web[dsp:none]&quot;&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>&amp;#10873;</span>&lt;/p&gt;&lt;/div&gt;
&lt;!-- /xwpt: 200315/tmpl/container           --&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>&#10873;</h3>
<p>The template can be installed as early bound or late bound. Using the early bound method negates the need for the end of content marker (⩹ <abbr>ecm</abbr>) and it can be deleted if desired. Otherwise, install the template as late bound without modification. The purpose of the <abbr>ecm</abbr> is to assist the editor manage white space and it is suggested adding or deleting lines be performed with the cursor next to the marker. It will not display on the web. To avoid the whitespace issue, create your content outside of the container and then cut/pasted into the container.</p>
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“The Button Element.” MDN Web Docs, developer.mozilla.org/en-US/docs/Web/HTML/Element/button.</li>
            <li>“Buttons.” Xidipity Web Docs, doc.xidipity.com/reference/template-library/buttons/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
