<p class="dsp:none"><!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: footnote
    *   Path:       template/
    *   File:       footnote.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      16-2020-03-18
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
--></p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Footnote.</p>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
<!-- xwpt: 200315/tmpl/footnote             -->
<div class="fg:bas-700 fnt:size-small">
    <hr class="aln:left rul:solid-thin wd:20%" />
    <ol class="footnote li:qtr-spaced">
        <li>Note</li>
    </ol>
</div>
<!-- /xwpt: 200315/tmpl/footnote            -->
</div>
<!-- /xwpt: 200315/tmpl/container           -->
<p>&nbsp;</p>
<pre>
&lt;!-- xwpt: 200315/tmpl/footnote             --&gt;
&lt;div class=&quot;fg:bas-700 fnt:size-small&quot;&gt;
    &lt;hr class=&quot;aln:left rul:solid-thin wd:20%&quot; /&gt;
    &lt;ol class=&quot;footnote li:qtr-spaced&quot;&gt;
        &lt;li&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>note</span>&lt;/li&gt;
    &lt;/ol&gt;
&lt;/div&gt;
&lt;!-- /xwpt: 200315/tmpl/footnote            --&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>note</h3>
<p>Footnote.</p>
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Footnote.” Purdue Writing Lab, owl.purdue.edu/owl/research_and_citation/apa_style/apa_formatting_and_style_guide/footnotes_and_endnotes.html.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
