<p class="dsp:none">
    <!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: image gallery
    *   Path:       template/
    *   File:       image-gallery.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      16-2020-03-18
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
-->
</p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Display a collection of images by category from the media library.</p>
<p>&nbsp;</p>
<h2>Photo Gallery</h2>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="fx:r fxa:1 fxb:1 fxc:3">
            <div>
                <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTcsMTNWMTlIN0wxMiwxNEwxNCwxNk0xMCwxMC41QTEuNSwxLjUgMCAwLDEgOC41LDEyQTEuNSwxLjUgMCAwLDEgNywxMC41QTEuNSwxLjUgMCAwLDEgOC41LDlBMS41LDEuNSAwIDAsMSAxMCwxMC41WiIgLz48L3N2Zz4=" />
            </div>
            <div>
                <p class="fnt:size-larger fnt:weight-bolder">Gallery Template</p>
                <p class="fnt:weight-bolder">Nature Photos</p>
                <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
            </div>
        </div>
        <p class="fnt:weight-bolder">Template Options</p>
        <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
            <li>class = 'trn:glow!hover'</li>
            <li>align_capt = 'c'</li>
            <li>dsp_desc = 'n'</li>
            <li>columns = 2</li>
            <li>orderby = 'ID'</li>
            <li>order = 'a'</li>
            <li>xclude = '&nbsp;'</li>
        </ul>
        <p class="fnt:weight-bolder mar:top+0.25">Category(s)</p>
        <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
            <li>nature</li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none]">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTcsMTNWMTlIN0wxMiwxNEwxNCwxNk0xMCwxMC41QTEuNSwxLjUgMCAwLDEgOC41LDEyQTEuNSwxLjUgMCAwLDEgNywxMC41QTEuNSwxLjUgMCAwLDEgOC41LDlBMS41LDEuNSAwIDAsMSAxMCwxMC41WiIgLz48L3N2Zz4=" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Gallery Template</p>
                    <p class="fnt:weight-bolder">Nature Photos</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
                </div>
            </div>
            <p class="fnt:weight-bolder">Template Options</p>
            <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
                <li>class = 'trn:glow!hover'</li>
                <li>align_capt = 'c'</li>
                <li>dsp_desc = 'n'</li>
                <li>columns = 2</li>
                <li>orderby = 'ID'</li>
                <li>order = 'a'</li>
                <li>xclude = '&nbsp;'</li>
            </ul>
            <p class="fnt:weight-bolder mar:top+0.25">Category(s)</p>
            <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
                <li>nature</li>
            </ul>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200315/tmpl/image/gallery        -->
            [imgg class="trn:glow!hover" align_capt="c" dsp_desc="n" columns=2 orderby="ID" order="a" xclude=""]nature[/imgg]
            <!-- /xwpt: 200315/tmpl/image/gallery       -->
        </div>
    </div>
</div>
<p>&nbsp;</p>
<!-- /xwpt: 200315/tmpl/container           -->
<p>&nbsp;</p>
<h2>Recipe Cards</h2>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="fx:r fxa:1 fxb:1 fxc:3">
            <div>
                <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTcsMTNWMTlIN0wxMiwxNEwxNCwxNk0xMCwxMC41QTEuNSwxLjUgMCAwLDEgOC41LDEyQTEuNSwxLjUgMCAwLDEgNywxMC41QTEuNSwxLjUgMCAwLDEgOC41LDlBMS41LDEuNSAwIDAsMSAxMCwxMC41WiIgLz48L3N2Zz4=" />
            </div>
            <div>
                <p class="fnt:size-larger fnt:weight-bolder">Gallery Template</p>
                <p class="fnt:weight-bolder">Recipe Cards</p>
                <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
            </div>
        </div>
        <p class="fnt:weight-bolder">Template Options</p>
        <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
            <li>class = 'cnr:arch-small'</li>
            <li>        'trn:focalpoint!hover'</li>
            <li>align_capt = 'c'</li>
            <li>dsp_desc = 'y'</li>
            <li>columns = 2</li>
            <li>orderby = 'ID'</li>
            <li>order = 'a'</li>
            <li>xclude = '&nbsp;'</li>
        </ul>
        <p class="fnt:weight-bolder mar:top+0.25">Category(s)</p>
        <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
            <li>recipes</li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none]">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTcsMTNWMTlIN0wxMiwxNEwxNCwxNk0xMCwxMC41QTEuNSwxLjUgMCAwLDEgOC41LDEyQTEuNSwxLjUgMCAwLDEgNywxMC41QTEuNSwxLjUgMCAwLDEgOC41LDlBMS41LDEuNSAwIDAsMSAxMCwxMC41WiIgLz48L3N2Zz4=" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Gallery Template</p>
                    <p class="fnt:weight-bolder">Recipe Cards</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
                </div>
            </div>
            <p class="fnt:weight-bolder">Template Options</p>
            <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
                <li>class = 'cnr:arch-small'</li>
                <li>        'trn:focalpoint!hover'</li>
                <li>align_capt = 'c'</li>
                <li>dsp_desc = 'y'</li>
                <li>columns = 2</li>
                <li>orderby = 'ID'</li>
                <li>order = 'a'</li>
                <li>xclude = '&nbsp;'</li>
            </ul>
            <p class="fnt:weight-bolder mar:top+0.25">Category(s)</p>
            <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
                <li>recipes</li>
            </ul>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200315/tmpl/image/gallery        -->
            [imgg class="cnr:arch-small trn:focalpoint!hover" align_capt="c" dsp_desc="y" columns=2 orderby="date" order="a" xclude=""]recipes[/imgg]
            <!-- /xwpt: 200315/tmpl/image/gallery       -->
        </div>
    </div>
</div>
<!-- /xwpt: 200315/tmpl/container           -->
<p>&nbsp;</p>
<pre>
&lt;div class=&quot;web[dsp:none]&quot;&gt;
    &lt;div class=&quot;fx:r fxa:1 fxb:1 fxc:3&quot;&gt;
        &lt;div&gt;
            &lt;img class=&quot;pad:right+0.5 wd:3&quot; alt=&quot;Xidipity Template&quot; src=&quot;data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTcsMTNWMTlIN0wxMiwxNEwxNCwxNk0xMCwxMC41QTEuNSwxLjUgMCAwLDEgOC41LDEyQTEuNSwxLjUgMCAwLDEgNywxMC41QTEuNSwxLjUgMCAwLDEgOC41LDlBMS41LDEuNSAwIDAsMSAxMCwxMC41WiIgLz48L3N2Zz4=&quot; /&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;p class=&quot;fnt:size-larger fnt:weight-bolder&quot;&gt;Gallery Template&lt;/p&gt;
            &lt;p class=&quot;fnt:weight-bolder&quot;&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#title#</span>&lt;/p&gt;
            &lt;p class=&quot;fnt:size-x-small fg:wcag-grey9&quot;&gt;xidipity-16-2020-03-18&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;p class=&quot;fnt:weight-bolder&quot;&gt;Template Options&lt;/p&gt;
    &lt;ul class=&quot;fg:wcag-grey9 fnt:family-mono fnt:size-smaller&quot;&gt;
        &lt;li&gt;class = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#class#</span>&#x27;&lt;/li&gt;
        &lt;li&gt;align_capt = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#align#</span>&#x27;&lt;/li&gt;
        &lt;li&gt;dsp_desc = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#desc#</span>&#x27;&lt;/li&gt;
        &lt;li&gt;columns = <span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#cols#</span>&lt;/li&gt;
        &lt;li&gt;orderby = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#ordby#</span>&#x27;&lt;/li&gt;
        &lt;li&gt;order = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#order#</span>#x27;&lt;/li&gt;
        &lt;li&gt;xclude = &#x27;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#xclude#</span>&#x27;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;p class=&quot;fnt:weight-bolder mar:top+0.25&quot;&gt;Category(s)&lt;/p&gt;
    &lt;ul class=&quot;fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter&quot;&gt;
        &lt;li&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#cat#</span>&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;div class=&quot;mce[dsp:none]&quot;&gt;
    &lt;!-- xwpt: 200315/tmpl/image/gallery        --&gt;
    [[imgg class=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#class#</span>&quot; align_capt=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#align#</span>&quot; dsp_desc=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#desc#</span>&quot; columns=<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#cols#</span> orderby=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#ordby#</span>&quot; order=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#order#</span>quot; xclude=&quot;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#xclude#</span>&quot;]<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#cat#</span>[/imgg]]
    &lt;!-- /xwpt: 200315/tmpl/image/gallery       --&gt;
&lt;/div&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>#title#</h3>
<p>Gallery title/description.</p>
<p>&nbsp;</p>
<h3>#class#</h3>
<p>Optional image class(s). See customization, image transformation for options.</p>
<p>&nbsp;</p>
<h3>#align#</h3>
<p>Optional caption alignment.</p>
<ul>
    <li>l = left</li>
    <li>c = center</li>
    <li>r = right</li>
</ul>
<p>&nbsp;</p>
<h3>#desc#</h3>
<p>Display description.</p>
<ul>
    <li>n = no</li>
    <li>y = center</li>
</ul>
<p>&nbsp;</p>
<h3>#cols#</h3>
<p>Number of columns (2/3/4)</p>
<p>&nbsp;</p>
<h3>#ordby#</h3>
<p>How items will be grouped. See terms, orderby for more information.</p>
<p>&nbsp;</p>
<h3>#order#</h3>
<p>Order of the gallery (a/d). See terms, order for more information.</p>
<p>&nbsp;</p>
<h3>#xclude#</h3>
<p>Optional media categories to exclude.</p>
<p>&nbsp;</p>
<h3>#cat#</h3>
<p>Media categories to include.</p>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Early bound template. Markers must be updated before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Order.” Xidipity Web Docs, doc.xidipity.com/reference/terms/order/.</li>
            <li>“Overby.” Xidipity Web Docs, doc.xidipity.com/reference/terms/orderby/.</li>
            <li>“Transformations.” Xidipity Web Docs, doc.xidipity.com/reference/customization/image-transformation/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
<!-- xwpt: 200315/tmpl/footnote             -->
<p>&nbsp;</p>
<div class="fg:bas-700 fnt:size-small">
    <hr class="aln:left rul:solid-thin wd:20%" />
    <ol class="footnote li:qtr-spaced">
        <li>Staff, N. (2019). 2016 National Geographic Nature Photographer of the Year Winners. [online] Nationalgeographic.com. Available at: https://on.natgeo.com/2X8AkEK [Accessed 11 Nov. 2019].</li>
        <li>Staff, P. (2019). The Winning Photos of Wildlife Photographer of the Year 2018. [online] PetaPixel. Available at: http://bit.ly/34SAimZ [Accessed 11 Nov. 2019].</li>
        <li>Staff, D. (2019). Southampton photographer wins national competition. [online] Daily Echo. Available at: http://bit.ly/2X1yV2E [Accessed 11 Nov. 2019].</li>
        <li>Staff, N. (2019). 2015 National Geographic Photo Contest Winners. [online] Nationalgeographic.com. Available at: https://on.natgeo.com/2K9ZBsT [Accessed 11 Nov. 2019].</li>
    </ol>
</div>
<!-- /xwpt: 200315/tmpl/footnote            -->
<p>&nbsp;</p>
