<p class="dsp:none">
    <!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: script
    *   Path:       template/
    *   File:       script.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      16-2020-03-18
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
-->
</p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Embedded script.</p>
<p>&nbsp;</p>
<!-- xwpt: 200318/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="fx:r fxa:1 fxb:1 fxc:3">
            <div>
                <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" />
            </div>
            <div>
                <p class="fnt:size-larger fnt:weight-bolder">Script Template</p>
                <p class="fnt:weight-bolder">GitHub Gist</p>                
                <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Script Template</p>
                    <p class="fnt:weight-bolder">GitHub Gist</p>                
                    <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
                </div>
            </div>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200318/tmpl/embedded/script      -->
            <script src="https://gist.github.com/WpThemeDev/348e8102327e64b01421e354a51a3cdd.js"></script>
            <!-- /xwpt: 200318/tmpl/embedded/script     -->
        </div>
    </div>
</div>
<p>&nbsp;</p>
<pre>
&lt;div class=&quot;web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%&quot;&gt;
    &lt;div class=&quot;fx:r fxa:1 fxb:1 fxc:3&quot;&gt;
        &lt;div&gt;
            &lt;img class=&quot;pad:right+0.5 wd:3&quot; alt=&quot;Xidipity Template&quot; src=&quot;data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==&quot; /&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;p class=&quot;fnt:size-larger fnt:weight-bolder&quot;&gt;Script Template&lt;/p&gt;
            &lt;p class=&quot;fnt:weight-bolder&quot;&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#title#</span>&lt;/p&gt;               
            &lt;p class=&quot;fnt:size-x-small fg:wcag-grey9&quot;&gt;xidipity-16-2020-03-18&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;mce[dsp:none]&quot;&gt;
    &lt;!-- xwpt: 200318/tmpl/embedded/script      --&gt;
    <span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#script#</span>
    &lt;!-- /xwpt: 200318/tmpl/embedded/script     --&gt;
&lt;/div&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>#title#</h3>
<p>Title / description.</p>
<p>&nbsp;</p>
<h3>#script#</h3>
<p>Script to embed. Typically this is javascript wrapped in &lt;script&gt;&lt;/script&gt; tags.</p>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template markers must be updated before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
