<p class="dsp:none"><!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: html5 - embed
    *   Path:       template/video/
    *   File:       html5-embed.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      16-2020-03-18
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
--></p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Display embedded <abbr>html5</abbr> video.</p>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="fx:r fxa:1 fxb:1 fxc:3">
            <div>
                <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTYsMThMMTMuNSwxNi4zVjE4SDhWMTNIMTMuNVYxNC43TDE2LDEzVjE4WiIgLz48L3N2Zz4=" />
            </div>
            <div>
                <p class="fnt:size-larger fnt:weight-bolder">HTML5 Video Template</p>
                <p class="fnt:weight-bolder">VIZIO With Chromecast Built-in</p>
                <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
            </div>
        </div>
        <p class="fnt:weight-bolder">Template Options</p>
        <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
            <li>autoplay = 'autoplay'</li>
            <li>loop = 'loop'</li>
            <li>muted = '&nbsp;'</li>
            <li>preload = 'auto'</li>
            <li>controls = 'controls'</li>
        </ul>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">HTML5 Video Template</p>
                    <p class="fnt:weight-bolder">VIZIO With Chromecast Built-in</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
                </div>
            </div>
            <p class="fnt:weight-bolder">Template Options</p>
            <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
                <li>autoplay = 'autoplay'</li>
                <li>loop = 'loop'</li>
                <li>muted = '&nbsp;'</li>
                <li>preload = 'auto'</li>
                <li>controls = 'controls'</li>
            </ul>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200318/tmpl/html5/embedded       --><div class="ht:100% wd:100%"><video autoplay="autoplay" loop="loop" muted="" preload="auto" controls="controls" width="320" height="180" data-mce-fragment="1"> <source src="https://cdn.vizio.com/email_assets/20170817/smartcast-ui-animation.mp4" type="video/mp4" alt="Xidipity Video Template" /></video></div><!-- /xwpt: 200318/tmpl/html5/embedded      -->       
        </div>
    </div>
</div>
<p>&nbsp;</p>
<pre>
&lt;div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%"&gt;
    &lt;div class="fx:r fxa:1 fxb:1 fxc:3"&gt;
        &lt;div&gt;
            &lt;img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" /&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;p class="fnt:size-larger fnt:weight-bolder"&gt;HTML5 Video Template&lt;/p&gt;
            &lt;p class="fnt:weight-bolder"&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#title#</span>&lt;/p&gt;
            &lt;p class="fnt:size-x-small fg:wcag-grey9"&gt;xidipity-16-2020-03-18&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;p class="fnt:weight-bolder"&gt;Template Options&lt;/p&gt;
    &lt;ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller"&gt;
        &lt;li&gt;autoplay = '<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#autoplay#</span>'&lt;/li&gt;
        &lt;li&gt;loop = '<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#loop#</span>'&lt;/li&gt;
        &lt;li&gt;muted = '<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#mute#</span>'&lt;/li&gt;
        &lt;li&gt;preload = '<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#controls#</span>'&lt;/li&gt;
        &lt;li&gt;controls = '<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#controls#</span>'&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;div class="mce[dsp:none]"&gt;
    &lt;!-- xwpt: 200318/tmpl/html5/embedded       --&gt;&lt;div class="ht:100% wd:100%"&gt;&lt;video autoplay="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#autoplay#</span>" loop="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#loop#</span>" muted="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#mute#</span>" preload="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#auto#</span>" controls="<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#controls#</span>" width="320" height="180" data-mce-fragment="1"&gt; &lt;source src="#url#" type="video/mp4" alt="Xidipity Video Template" /&gt;&lt;/video&gt;&lt;/div&gt;&lt;!-- /xwpt: 200318/tmpl/html5/embedded      --&gt;       
&lt;/div&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>#title#</h3>
<p>Video title/description.</p>
<p>&nbsp;</p>
<h3>#autoplay#</h3>
<p>Tells the browser to immediately start downloading the video and play it as soon as it can. Note that mobile browsers generally do not support this attribute, the user must tap the screen to begin video playback.</p>
<p>&nbsp;</p>
<h3>#loop#</h3>
<p>Tells the browser to automatically loop the video.</p>
<p>&nbsp;</p>
<h3>#muted#</h3>
<p>Mutes the audio from the video.</p>
<p>&nbsp;</p>
<h3>#preload#</h3>
<p>Hint to the browser about whether optimistic downloading of the video itself or its metadata is considered worthwhile.</p>
<ul>
    <li>none - Hints to the browser that the user likely will not watch the video, or that minimizing unnecessary traffic is desirable.</li>
    <li>metadata - Hints to the browser that the user is not expected to need the video, but that fetching its metadata (dimensions, first frame, track list, duration, and so on) is desirable.</li>
    <li>auto - Hints to the browser that optimistically downloading the entire video is considered desirable.</li>
</ul>
<p>&nbsp;</p>
<h3>#controls#</h3>
<p>Shows the default video controls (play, pause, etc).</p>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Early bound template. Markers must be updated before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
