<p class="dsp:none"><!--
    *
    * WordPress Xidipity HTML File
    *
    *   Page Title: vimeo - embed
    *   Path:       template/video/
    *   File:       vimeo-embed.html
    *   GitHub:     WpThemeDev/doc-xidipity/
    *   Build:      xidipity-16-2020-03-18
    *   License:    www.gnu.org/licenses/gpl-3.0.html
    *   Copyright:  2019-2020 John Baer
    *
--></p>
<p><span class="fnt:weight-normal pad:right+0.5">Description:</span>Display embedded vimeo video.</p>
<p>&nbsp;</p>
<!-- xwpt: 200315/tmpl/container            -->
<div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
    <h6>editor view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="fx:r fxa:1 fxb:1 fxc:3">
            <div>
                <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0LDJMMjAsOFYyMEEyLDIgMCAwLDEgMTgsMjJINkEyLDIgMCAwLDEgNCwyMFY0QTIsMiAwIDAsMSA2LDJIMTRNMTgsMjBWOUgxM1Y0SDZWMjBIMThNMTYsMThMMTMuNSwxNi4zVjE4SDhWMTNIMTMuNVYxNC43TDE2LDEzVjE4WiIgLz48L3N2Zz4=" />
            </div>
            <div>
                <p class="fnt:size-larger fnt:weight-bolder">Vimeo Video Template</p>
                <p class="fnt:weight-bolder">Taking Pictures</p>
                <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <h6>web view</h6>
    <p>&nbsp;</p>
    <div class="bdr:solid-medium bdr:bas-300 cnr:arch-small pad:+1 wd:100%">
        <div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%">
            <div class="fx:r fxa:1 fxb:1 fxc:3">
                <div>
                    <img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" />
                </div>
                <div>
                    <p class="fnt:size-larger fnt:weight-bolder">Vimeo Video Template</p>
                    <p class="fnt:weight-bolder">Taking Pictures</p>
                    <p class="fnt:size-x-small fg:wcag-grey9">xidipity-16-2020-03-18</p>
                </div>
            </div>
        </div>
        <div class="mce[dsp:none]">
            <!-- xwpt: 200318/tmpl/vimeo/embedded       --><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/119520956" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script><!-- /xwpt: 200318/tmpl/vimeo/embedded      -->        
        </div>
    </div>
</div>
<p>&nbsp;</p>
<pre>
&lt;div class="web[dsp:none] bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small pad:+0.75 wd:100%"&gt;
    &lt;div class="fx:r fxa:1 fxb:1 fxc:3"&gt;
        &lt;div&gt;
            &lt;img class="pad:right+0.5 wd:3" alt="Xidipity Template" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE0IDJINkM0Ljg5IDIgNCAyLjkgNCA0VjIwQzQgMjEuMTEgNC44OSAyMiA2IDIySDE4QzE5LjExIDIyIDIwIDIxLjExIDIwIDIwVjhMMTQgMk0xOCAyMEg2VjRIMTNWOUgxOFYyME05LjU0IDE1LjY1TDExLjYzIDE3Ljc0TDEwLjM1IDE5TDcgMTUuNjVMMTAuMzUgMTIuM0wxMS42MyAxMy41Nkw5LjU0IDE1LjY1TTE3IDE1LjY1TDEzLjY1IDE5TDEyLjM4IDE3Ljc0TDE0LjQ3IDE1LjY1TDEyLjM4IDEzLjU2TDEzLjY1IDEyLjNMMTcgMTUuNjVaIiAvPjwvc3ZnPg==" /&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;p class="fnt:size-larger fnt:weight-bolder"&gt;Vimeo Video Template&lt;/p&gt;
            &lt;p class="fnt:weight-bolder"&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#title#</span>&lt;/p&gt;
            &lt;p class="fnt:size-x-small fg:wcag-grey9"&gt;xidipity-16-2020-03-18&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="mce[dsp:none]"&gt;
    &lt;!-- xwpt: 200318/tmpl/vimeo/embedded       --&gt;<span class='dsp:inline-block fg:wcag-red pad:hrz+0.25'>#iframe#</span>&lt;!-- /xwpt: 200318/tmpl/vimeo/embedded      --&gt;        
&lt;/div&gt;
</pre>
<p>&nbsp;</p>
<h2>markers</h2>
<h3>#title#</h3>
<p>Video title/description.</p>
<p>&nbsp;</p>
<h3>#iframe#</h3>
<p>Vimeo iframe. To obtain the iframe goto Vimeo (browser) and select the desired video. Click share, and then embed. To the right is a link titled "show options". Click this link to set display preferences. When all changes are in place click inside the text area to select and copy the contents to the clipboard. Highlight the #iframe# marker and paste the contents of the clipboard. The solution is responsive.</p>
<p>&nbsp;</p>
<!-- xwpt: 200208/tmpl/an/howto             -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-tools">&#x200B;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                <p>Early bound template. Markers must be updated before use.</p>
                <p>The editor in visual mode may reformat the code of the embedded iframe in a manner which changes the desired result. In those circumstances the template will have to be added to the source <abbr>html</abbr> in text mode and saved without review in visual mode.</p>
            </td>
        </tr>
    </tbody>
</table>
<!-- /xwpt: 200208/tmpl/an/howto            -->
<p>&nbsp;</p>
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <div style="overflow: auto; white-space: nowrap;">
        <ul class="fnt:size-small">
            <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
            <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
            <li>“Taking Pictures.” Pixar, www.pixar.com/sparkshorts/.</li>
            <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
        </ul>
    </div>
    <p>&nbsp;</p>
</div>
