<p class="dsp:none">/* git:*toc_templates_min.html */</p>
<h5>Table Of Contents</h5>
<!--  tmpl:PAGE/LIST -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bg:tint-bas+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class="fg:wcag-grey9 fnt:size-x-small">21200508</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Page List Template</div>
<div class="fnt:weight-bolder">Template Options</div>
<ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
<li>class = 'li:qtr-spaced mixed</li>
<li>bullet = ' '</li>
<li>depth = 2</li>
</ul>
<p class="fnt:weight-bolder mar:top+0.25">Start/Exclude Titles</p>
<ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
<li>templates</li>
</ul>
</div>
</div>
</div>
</div>
<div class="mar:bottom+0.5 mce[dsp:none]">
[plst class='li:qtr-spaced mixed' bullet='' depth=2]templates[/plst]
</div>
<!-- /tmpl:PAGE/LIST -->
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“Enhanced Editor.” Xidipity Web Docs, doc.xidipity.com/reference/editor/.</li>
<li>“Documentation.” Xidipity Web Docs, doc.xidipity.com.</li>
</ul>
</div>
