<p class="dsp:none">/* git:adsense_min.html */</p>
<h3>responsive ad unit</h3>
<h5 class="mar:vrt+1.25">editor view</h5>
<!--  tmpl:GOOGLE/ADSENSE -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100%">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large pad:hrz+0.5"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">19200429</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Adsense Template</div>
<div class="fnt:weight-bolder">Ad Unit - Responsive</div>
</div>
</div>
</div>
</div>
<!-- /tmpl:GOOGLE/ADSENSE -->
<h5 class="mar:vrt+1.25">web view</h5>
<!--  tmpl:GOOGLE/ADSENSE -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">19200429</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Adsense Template</div>
<div class="fnt:weight-bolder">Ad Unit - Responsive</div>
</div>
</div>
</div>
</div>
<div class="mar:bottom+0.5 mce[dsp:none]">
<!-- tmpl:ADUNIT/RESPONSIVE -->
<div class="ad:wrapper">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3773234116666593"
         data-ad-slot="3797865743"
         data-ad-format="auto"
         data-full-width-responsive="false"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- /tmpl:ADUNIT/RESPONSIVE -->
</div>
<!-- /tmpl:GOOGLE/ADSENSE -->
<h5 class="dsp:none sm)dsp:block mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:GOOGLE/ADSENSE --&gt;
&lt;div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]"&gt;
    &lt;div class="dsp:tbl-rw-grp pad:+0.75 wd:100%"&gt;
        &lt;div class="dsp:tbl-rw"&gt;
            &lt;div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5"&gt;
                &lt;div class="fnt:size-3x-large"&gt;&lt;i class="fas fa-file-signature"&gt;&amp;#8203;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=" fg:wcag-grey9 fnt:size-x-small"&gt;19200429&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5"&gt;
                &lt;div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large"&gt;Adsense Template&lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt; <samp>#TITLE#</samp> &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="mar:bottom+0.5 mce[dsp:none]"&gt;
    &lt;!-- ad:RESPONSIVE --&gt;
    &lt;div class="ad:wrapper"&gt;
        <samp>#SCRIPT#</samp>
    &lt;/div&gt;
    &lt;!-- /ad:RESPONSIVE --&gt;
&lt;/div&gt;
&lt;!-- /tmpl:GOOGLE/ADSENSE --&gt;
</pre>
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
</div>
<h3 class="mar:vrt+1.25">in-article ad unit</h3>
<h5 class="mar:vrt+1.25">editor view</h5>
<!--  tmpl:GOOGLE/ADSENSE -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100%">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">19200429</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Adsense Template</div>
<div class="fnt:weight-bolder">Ad Unit - In Article</div>
</div>
</div>
</div>
</div>
<!-- /tmpl:GOOGLE/ADSENSE -->
<h5 class="mar:vrt+1.25">web view</h5>
<!--  tmpl:GOOGLE/ADSENSE -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">19200429</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Adsense Template</div>
<div class="fnt:weight-bolder">Ad Unit - Responsive</div>
</div>
</div>
</div>
</div>
<div class="mar:bottom+0.5 mce[dsp:none]">
    <!-- ad:IN-ARTICLE -->
    <div class="ad:wrapper">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-3773234116666593"
             data-ad-slot="4393396845"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!-- /ad:IN-ARTICLE -->
</div>
<!-- /tmpl:GOOGLE/ADSENSE -->
<h5 class="mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:GOOGLE/ADSENSE --&gt;
&lt;div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]"&gt;
    &lt;div class="dsp:tbl-rw-grp pad:+0.75 wd:100%"&gt;
        &lt;div class="dsp:tbl-rw"&gt;
            &lt;div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5"&gt;
                &lt;div class="fnt:size-3x-large"&gt;&lt;i class="fas fa-file-signature"&gt;&amp;#8203;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=" fg:wcag-grey9 fnt:size-x-small"&gt;19200429&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5"&gt;
                &lt;div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large"&gt;Adsense Template&lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt; <samp>#TITLE#</samp> &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="mar:bottom+0.5 mce[dsp:none]"&gt;
    &lt;!-- ad:IN-ARTICLE --&gt;
    &lt;div class="ad:wrapper"&gt;
    <samp>#SCRIPT#</samp>
    &lt;/div&gt;
    &lt;!-- /ad:IN-ARTICLE --&gt;
&lt;/div&gt;
&lt;!-- /tmpl:GOOGLE/ADSENSE --&gt;
</pre>
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
</div>
<div class="dsp:none sm)dsp:block">
<h3 class="mar:vrt+1.25">template markers</h3>
<table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
<thead class="bas:tint+1 fnt:weight-bolder">
<tr>
<td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
<td class="pad:+0.50">Description</td>
</tr>
</thead>
<tbody class="aln:top bg:content fnt:size-smaller">
<tr>
<td class="fnt:weight-bolder pad:+0.50">#TITLE#</td>
<td class="pad:+0.50">Title / description.</td>
</tr>
<tr>
<td class="fnt:weight-bolder pad:+0.50">#SCRIPT#</td>
<td class="pad:+0.50">Adsense script from the Google adsense dashboard. Typically this is javascript wrapped in "&lt;script&gt;&lt;/script&gt;" tags.</td>
</tr>
</tbody>
</table>
</div>
<div class="sm)dsp:none txt:frame">
<p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<h3 class="mar:top+1.25 mar:bottom+0.5">sidebar widget</h3>
<ol class="li:qtr-spaced">
<li>Open the widget panel from the admin menu (appearance <i class="fas fa-angle-double-right">&#8203;</i> widgets)</li>
<li>Drag the "Custom HTML" widget to the sidebar panel</li>
<li>Title as desired</li>
<li>In the code editor, paste your responsive ad unit script</li>
<li>Press <span class='btn:facade'>Save</span></li>
</ol>
<h3 class="mar:top+1.25 mar:bottom+0.5">disclaimer</h3>
<p>The Google Adsense script evaluates your page to determine the best ad to fill the designated space. It is important to keep in mind the solution is good but it is not 100%. Generally speaking, the responsive ad unit works well as a sidebar widget and the in-article ad unit for content ads. In some cases it may be necessary to set the responsive property "<a href="https://support.google.com/adsense/answer/9183460">data-full-width-responsive</a>" to false to achieve the desired result.</p>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
<tbody>
<tr>
<td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
<i class="fas fa-user">&#8203;</i>
</td>
<td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
Template must be configured before use.
</td>
</tr>
</tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<div style="overflow: auto; white-space: nowrap;">
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
<li>“Adsense.” Google, google.com/adsense/start/.</li>
<li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
</ul>
</div>
</div>
