<aside class="dsp:none">
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
    * WordPress Xidipity Theme HTML File
    *
    * Page.....: annotation
    * Source...: annotation.html
    * Path.....: templates/
    * GitHub...: WpThemeDev/doc-xidipity/
    * Build....: 19.2020.05.02
    * License..: www.gnu.org/licenses/gpl-3.0.html
    * Copyright: 2019-2020 John Baer
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
</aside>
<h5 class="mar:bottom+1.25">product</h5>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:bas-700 cnr:arch-left-small fnt:size-3x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small pad:vrt+0.5 wd:100%">
                Your content &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<h5 class="dsp:none sm)dsp:block mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:ANNOTATION --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:bas-700 cnr:arch-left-small fnt:size-3x-large fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small pad:vrt+0.5 wd:100%"&gt;
                <ins>Your content &hellip;</ins>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /tmpl:ANNOTATION --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<h5 class="mar:vrt+1.25">product</h5>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:bas-800 cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Your content &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<h5 class="dsp:none sm)dsp:block mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:ANNOTATION --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:bas-800 cnr:arch-left-small fnt:size-2x-large fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%"&gt;
                <ins>Your content &hellip;</ins>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /tmpl:ANNOTATION --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<h5 class="mar:vrt+1.25">product</h5>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:bas-900 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Your content &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<h5 class="dsp:none sm)dsp:block mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:ANNOTATION --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:bas-900 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%"&gt;
                <ins>Your content &hellip;</ins>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /tmpl:ANNOTATION --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<h5 class="mar:vrt+1.25">product</h5>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:blk cnr:arch-left-small fnt:size-medium fg:wht pad:hrz+0.75">
                <i class="fas fa-comment">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-x-small pad:vrt+0.5 wd:100%">
                Your content &hellip;
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<h5 class="mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:ANNOTATION --&gt;
&lt;table class="bdr:collapse bdr:hidden cols:auto wd:100%"&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="aln:middle bg:blk cnr:arch-left-small fnt:size-medium fg:wht pad:hrz+0.75"&gt;
                &lt;i class="fas fa-comment"&gt;&amp;#x200B;&lt;/i&gt;
            &lt;/td&gt;
            &lt;td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-x-small pad:vrt+0.5 wd:100%"&gt;
                <ins>Your content &hellip;</ins>
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
&lt;!-- /tmpl:ANNOTATION --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<div class="dsp:none sm)dsp:block">
    <h3 class="mar:vrt+1.25">template markers</h3>
    <table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
        <thead class="bas:tint+1 fnt:weight-bolder">
            <tr>
                <td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
                <td class="pad:+0.50">Description</td>
            </tr>
        </thead>
        <tbody class="aln:top bg:content fnt:size-smaller">
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">Your content &hellip;</td>
                <td class="pad:+0.50">Desired content. Options include:</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="mixed">
                        <li>text only</li>
                        <li>text and icon
                        <ul>
                            <li>font awesome icon</li>
                            <li>google icon</li>
                        </ul></li>
                        <li>image ( png/jpg scaled to appropriate dimensions )</li>
                        <li>animated gif ( scaled to appropriate dimensions )</li>
                        <li>emoji / unicode character</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sm)dsp:none txt:frame">
    <p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
                <i class="fas fa-user">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template may be configured after it is added to your content.
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <ul class="fnt:size-small">
        <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
        <li>“Annotations.” Xidipity Web Docs, doc.xidipity.com/reference/template-library/annotations/.</li>
        <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
    </ul>
</div>
