<aside class="dsp:none">
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
    * WordPress Xidipity Theme HTML File
    *
    * Page.....: button
    * Source...: button.html
    * Path.....: templates/
    * GitHub...: WpThemeDev/doc-xidipity/
    * Build....: 19.2020.05.08
    * License..: gnu.org/licenses/gpl-3.0.html
    * Copyright: 2019-2020 John Baer
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
</aside>
<h5 class="mar:bottom+1.25">product</h5>
<!--  tmpl:BUTTON -->
<form action="#">
    <button class="cnr:arch-x-small" type="submit"><span class="pad:right+0.5"><i class="fas fa-home">&#8203;</i></span>Home</button>
</form>
<!-- /tmpl:BUTTON -->
<h5 class="mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:BUTTON --&gt;
&lt;form action=" <samp>#URL#</samp> "&gt;
    &lt;button class="cnr:arch-x-small" type="submit"&gt; <samp>#CONTENT#</samp> &lt;/button&gt;
&lt;/form&gt;
&lt;!-- /tmpl:BUTTON --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<div class="dsp:none sm)dsp:block">
    <h3 class="mar:vrt+1.25">template markers</h3>
    <table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
        <thead class="bas:tint+1 fnt:weight-bolder">
            <tr>
                <td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
                <td class="pad:+0.50">Description</td>
            </tr>
        </thead>
        <tbody class="aln:top bg:content fnt:size-smaller">
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#URL#</td>
                <td class="pad:+0.50">Link to execute when the button is pressed.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#CONTENT#</td>
                <td class="pad:+0.50">Button content, other examples include:
                    <table class="bdr:collapse bdr:hidden cols:auto wd:100%">
                        <tbody>
                            <tr>
                                <td class="aln:text-left wd:6"><span class="pad:right+0.5"><i class="fas fa-home">&#8203;</i></span>Home</td>
                                <td>&lt;span class="pad:right+0.5"&gt;&lt;i class="fas fa-home"&gt;&amp;#8203;&lt;/i&gt;&lt;/span&gt;Home</td>
                            </tr>
                            <tr>
                                <td class="aln:text-left"><span class="pad:right+0.5"><i class="fas fa-search">&#8203;</i></span>Search</td>
                                <td>&lt;span class="pad:right+0.5"&gt;&lt;i class="fas fa-search"&gt;&amp;#8203;&lt;/i&gt;&lt;/span&gt;Search</td>
                            </tr>
                            <tr>
                                <td class="aln:text-left"><span class="pad:right+0.5"><i class="fas fa-question-circle">&#8203;</i></span>Help</td>
                                <td>&lt;span class="pad:right+0.5"&gt;&lt;i class="fas fa-question-circle"&gt;&amp;#8203;&lt;/i&gt;&lt;/span&gt;Help</td>
                            </tr>
                            <tr>
                                <td class="aln:text-left"><span class="pad:right+0.5"><i class="fas fa-file-alt">&#8203;</i></span>Docs</td>
                                <td>&lt;span class="pad:right+0.5"&gt;&lt;i class="fas fa-file-alt"&gt;&amp;#8203;&lt;/i&gt;&lt;/span&gt;Docs</td>
                            </tr>
                            <tr>
                                <td class="aln:text-left"><span class="pad:right+0.5"><i class="fas fa-folder-open">&#8203;</i></span>File</td>
                                <td>&lt;span class="pad:right+0.5"&gt;&lt;i class="fas fa-folder-open"&gt;&amp;#8203;&lt;/i&gt;&lt;/span&gt;File</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sm)dsp:none txt:frame">
    <p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
                <i class="fas fa-user">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template must be configured before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <ul class="fnt:size-small">
        <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
        <li>“The Button Element.” MDN Web Docs, developer.mozilla.org/en-US/docs/Web/HTML/Element/button.</li>
        <li>“Buttons.” Xidipity Web Docs, doc.xidipity.com/reference/template-library/buttons/.</li>
        <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
    </ul>
</div>
