<p class="dsp:none">/* git:footnote_min.html */</p>
<h5 class="mar:bottom+1.25">product</h5>
<!--  tmpl:FOOTNOTE -->
<div class="fnt:size-small">
<div class="bg:bas-300 ln:medium mar:vrt+0.5 wd:1/4">&#8203;</div>
<ol class="li:qtr-spaced">
<li>Footnote here &hellip;</li>
</ol>
</div>
<!-- /tmpl:FOOTNOTE -->
<h5 class="mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:FOOTNOTE --&gt;
&lt;div class="fnt:size-small"&gt;
    &lt;div class="bg:bas-300 ln:medium mar:vrt+0.5 wd:1/4"&gt;&amp;#8203;&lt;/div&gt;
    &lt;ol class="li:qtr-spaced"&gt;
        &lt;li&gt;<ins>Footnote here &hellip;</ins>&lt;/li&gt;
    &lt;/ol&gt;
&lt;/div&gt;
&lt;!-- /tmpl:FOOTNOTE --&gt;
</pre>
</div>
<div class="dsp:none sm)dsp:block">
<h3 class="mar:vrt+1.25">template markers</h3>
<table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
<thead class="bas:tint+1 fnt:weight-bolder">
<tr>
<td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
<td class="pad:+0.50">Description</td>
</tr>
</thead>
<tbody class="aln:top bg:content fnt:size-smaller">
<tr>
<td class="fnt:weight-bolder pad:+0.50">Footnote here &hellip;</td>
<td class="pad:+0.50">Footnote.</td>
</tr>
</tbody>
</table>
</div>
<div class="sm)dsp:none txt:frame">
<p>&nbsp;</p>
<p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
<p>&nbsp;</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
<tbody>
<tr>
<td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
<i class="fas fa-user">&#8203;</i>
</td>
<td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
Template may be configured after it is added to your content.
</td>
</tr>
</tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
<li>“Footnote.” Purdue Writing Lab, owl.purdue.edu/owl/research_and_citation/apa_style/apa_formatting_and_style_guide/footnotes_and_endnotes.html.</li>
<li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
</ul>
</div>
