<p class="dsp:none">/* git:readmore_min.html */</p>
<h5 class="mar:bottom+1.25">product</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. Vivamus vehicula dignissim augue et scelerisque.</p>
<!--  tmpl:READMORE -->
<p class="mar:vrt+0.5"><span class="fg:pri pad:right+0.25"><svg class="svg:medium" viewBox="0 0 24 24"><path fill="currentColor" d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" /></svg></span><a href="#" >Read more &hellip;</a></p>
<!-- /tmpl:READMORE -->
<h5 class="mar:vrt+1.25">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:READMORE --&gt;
&lt;p class="mar:vrt+0.5"&gt;
    &lt;span class="fg:pri pad:right+0.25"&gt;&lt;svg class="svg:medium" viewBox="0 0 24 24"&gt;&lt;path fill="currentColor" d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" /&gt;&lt;/svg&gt;&lt;/span&gt;
    &lt;a href=" <samp>#URL#</samp> " &gt;Read more &amp;hellip;&lt;/a&gt;
&lt;/p&gt;
&lt;!-- /tmpl:READMORE --&gt;
</pre>
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
</div>
<div class="dsp:none sm)dsp:block">
<h3 class="mar:vrt+1.25">template markers</h3>
<table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
<thead class="bas:tint+1 fnt:weight-bolder">
<tr>
<td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
<td class="pad:+0.50">Description</td>
</tr>
</thead>
<tbody class="aln:top bg:content fnt:size-smaller">
<tr>
<td class="fnt:weight-bolder pad:+0.50">#URL#</td>
<td class="pad:+0.50">URL link address.</td>
</tr>
</tbody>
</table>
</div>
<div class="sm)dsp:none txt:frame">
<p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
<tbody>
<tr>
<td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
<i class="fas fa-user">&#8203;</i>
</td>
<td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
Template may be configured after it is added to your content.
</td>
</tr>
</tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
<li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/late-bound-template/.</li>
</ul>
</div>
