<p class="dsp:none">/* git:script_min.html */</p>
<h5 class="mar:bottom+1.25">editor view</h5>
<!--  tmpl:EMBEDDED/SCRIPT -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100%">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">21200508</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Script Template</div>
<div class="fnt:weight-bolder">GitHub Gist</div>
</div>
</div>
</div>
</div>
<!-- /tmpl:EMBEDDED/SCRIPT -->
<h5 class="mar:vrt+1.25">web view</h5>
<!--  tmpl:EMBEDDED/SCRIPT -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">21200508</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Script Template</div>
<div class="fnt:weight-bolder">GitHub Gist</div>
</div>
</div>
</div>
</div>
<div class="mar:bottom+0.5 mce[dsp:none]">
<script src="https://gist.github.com/WpThemeDev/348e8102327e64b01421e354a51a3cdd.js"></script>
</div>
<!-- /tmpl:EMBEDDED/SCRIPT -->
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top+1 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
<h5 class="mar:bottom+1.25 mar:top-1 md)mar:top+2">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:EMBEDDED/SCRIPT --&gt;
&lt;div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]"&gt;
    &lt;div class="dsp:tbl-rw-grp pad:+0.75 wd:100%"&gt;
        &lt;div class="dsp:tbl-rw"&gt;
            &lt;div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5"&gt;
                &lt;div class="fnt:size-3x-large"&gt;&lt;i class="fas fa-file-signature"&gt;&amp;#8203;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=" fg:wcag-grey9 fnt:size-x-small"&gt;21200508&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5"&gt;
                &lt;div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large"&gt;Script Template&lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt; <samp>#TITLE#</samp> &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="mar:bottom+0.5 mce[dsp:none]"&gt;
    <samp>#SCRIPT#</samp>
&lt;/div&gt;
&lt;!-- /tmpl:EMBEDDED/SCRIPT --&gt;
</pre>
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
</div>
<div class="dsp:none sm)dsp:block">
<h3 class="mar:vrt+1.25">template markers</h3>
<table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
<thead class="bas:tint+1 fnt:weight-bolder">
<tr>
<td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
<td class="pad:+0.50">Description</td>
</tr>
</thead>
<tbody class="aln:top bg:content fnt:size-smaller">
<tr>
<td class="fnt:weight-bolder pad:+0.50">#TITLE#</td>
<td class="pad:+0.50">Title / description.</td>
</tr>
<tr>
<td class="fnt:weight-bolder pad:+0.50">#SCRIPT#</td>
<td class="pad:+0.50">Script to embed. Typically this is javascript wrapped in "&lt;script&gt;&lt;/script&gt;" tags.</td>
</tr>
</tbody>
</table>
</div>
<div class="sm)dsp:none txt:frame">
<p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
<tbody>
<tr>
<td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
<i class="fas fa-user">&#8203;</i>
</td>
<td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
Template must be configured before use.
</td>
</tr>
</tbody>
</table>
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
<li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
</ul>
</div>
