<aside class="dsp:none">
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
    * WordPress Xidipity Theme HTML File
    *
    * Page.....: video html5
    * Source...: video_html5.html
    * Path.....: templates/
    * GitHub...: WpThemeDev/doc-xidipity/
    * Build....: 23.2020.05.13
    * License..: gnu.org/licenses/gpl-3.0.html
    * Copyright: 2019-2020 John Baer
    *
    * ------------------- DO NOT INCLUDE -------------------
    *
</aside>
<h5 class="mar:bottom+1.25">editor view</h5>
<!--  tmpl:VIDEO/HTML5 -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100%">
    <div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
        <div class="dsp:tbl-rw">
            <div class="aln:text-center bg:tint-bas+1 dsp:tbl-td pad:vrt+0.5 wd:5">
                <div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
                <div class=" fg:wcag-grey9 fnt:size-x-small">22200508</div>
            </div>
            <div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
                <div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">HTML5 Video Template</div>
                <div class="fnt:weight-bolder">VIZIO With Chromecast Built-in</div>
                <div class="fnt:weight-bolder">Template Options</div>
                <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
                    <li>autoplay = 'true'</li>
                    <li>loop = 'true'</li>
                    <li>muted = 'true'</li>
                    <li>preload = 'auto'</li>
                    <li>controls = 'true'</li>
                </ul>
                <p class="fnt:weight-bolder mar:top+0.25">Source</p>
                <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
                    <li>cdn.vizio.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /tmpl:VIDEO/HTML5 -->
<h5 class="mar:vrt+1.25">web view</h5>
<!--  tmpl:VIDEO/HTML5 -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
    <div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
        <div class="dsp:tbl-rw">
            <div class="aln:text-center bg:tint-bas+1 dsp:tbl-td pad:vrt+0.5 wd:5">
                <div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
                <div class=" fg:wcag-grey9 fnt:size-x-small">22200508</div>
            </div>
            <div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
                <div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">HTML5 Video Template</div>
                <div class="fnt:weight-bolder">VIZIO With Chromecast Built-in</div>
                <div class="fnt:weight-bolder">Template Options</div>
                <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller">
                    <li>autoplay = 'true'</li>
                    <li>loop = 'true'</li>
                    <li>muted = 'true'</li>
                    <li>preload = 'auto'</li>
                    <li>controls = 'true'</li>
                </ul>
                <p class="fnt:weight-bolder mar:top+0.25">Source</p>
                <ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter">
                    <li>cdn.vizio.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="ht:100% wd:100% mar:bottom+0.5 mce[dsp:none]">
    <video autoplay="true" loop="true" muted="true" preload="auto" controls="controls"> 
        <source src="https://cdn.vizio.com/email_assets/20170817/smartcast-ui-animation.mp4" type="video/mp4" alt="Xidipity HTML5 Video Template" />
    </video>
</div>
<!-- /tmpl:VIDEO/HTML5 -->
<h5 class="mar:bottom+1.25 mar:top+1">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:VIDEO/HTML5 --&gt;
&lt;div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]"&gt;
    &lt;div class="dsp:tbl-rw-grp pad:+0.75 wd:100%"&gt;
        &lt;div class="dsp:tbl-rw"&gt;
            &lt;div class="aln:text-center bg:tint-bas+1 dsp:tbl-td pad:vrt+0.5 wd:5"&gt;
                &lt;div class="fnt:size-3x-large"&gt;&lt;i class="fas fa-file-signature"&gt;&amp;#8203;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=" fg:wcag-grey9 fnt:size-x-small"&gt;22200508&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5"&gt;
                &lt;div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large"&gt;HTML5 Video Template&lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt; <samp>#TITLE#</samp> &lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt;Template Options&lt;/div&gt;
                &lt;ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller"&gt;
                    &lt;li&gt;autoplay = ' <samp>#AUTOPLAY#</samp> '&lt;/li&gt;
                    &lt;li&gt;loop     = ' <samp>#LOOP#</samp> '&lt;/li&gt;
                    &lt;li&gt;muted    = ' <samp>#MUTED#</samp> '&lt;/li&gt;
                    &lt;li&gt;preload  = ' <samp>#PRELOAD#</samp> '&lt;/li&gt;
                    &lt;li&gt;controls = ' <samp>#CONTROLS#</samp> '&lt;/li&gt;
                &lt;/ul&gt;
                &lt;p class="fnt:weight-bolder mar:top+0.25"&gt;Source&lt;/p&gt;
                &lt;ul class="fg:wcag-grey9 fnt:family-mono fnt:size-smaller fnt:weight-lighter"&gt;
                    &lt;li&gt; <samp>#SOURCE#</samp> &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="ht:100% wd:100% mar:bottom+0.5 mce[dsp:none]"&gt;
    &lt;video autoplay=" #AUTOPLAY# " loop=" #LOOP# " muted=" #MUTED# " preload=" #PRELOAD# " controls=" #CONTROLS# "&gt; 
        &lt;source src=" #SOURCE# " type="video/mp4" alt="Xidipity HTML5 Video Template" /&gt;
    &lt;/video&gt;
&lt;/div&gt;
&lt;!-- /tmpl:VIDEO/HTML5 --&gt;
</pre>
    <div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
        <i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
    </div>
</div>
<div class="dsp:none sm)dsp:block">
    <h3 class="mar:vrt+1.25">template markers</h3>
    <table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
        <thead class="bg:tint-bas+1 fnt:weight-bolder">
            <tr>
                <td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
                <td class="pad:+0.50">Description</td>
            </tr>
        </thead>
        <tbody class="aln:top bg:content fnt:size-smaller">
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#TITLE#</td>
                <td class="pad:+0.50">Name/Short description.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#AUTOPLAY#</td>
                <td class="pad:+0.50">If specified, instructs the browser to immediately start downloading the video and play it as soon as it can. Mobile browsers generally do not support this attribute and the user must tap the screen to begin video playback. To disable, remove tag completely.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="no-bullets">
                        <li><span class="aln:text-center dsp:inline-block wd:5">true</span>= autoplay</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5"><del>autoplay=""</del></span>= disabled</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#LOOP#</td>
                <td class="pad:+0.50">If specified, the browser will automatically seek back to the start upon reaching the end of the video.  To disable, remove tag completely.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="no-bullets">
                        <li><span class="aln:text-center dsp:inline-block wd:5">true</span>= loop</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5"><del>loop=""</del></span>= disabled</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#MUTE#</td>
                <td class="pad:+0.50">If set, the audio will be initially silenced. Its default value is false, meaning that the audio will be played when the video is played.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="no-bullets">
                        <li><span class="aln:text-center dsp:inline-block wd:5">false</span>= unmute</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5">true</span>= mute</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#PRELOAD#</td>
                <td class="pad:+0.50">Attribute is intended to provide a hint to the browser about what the author thinks will lead to the best user experience with regards to what content is loaded before the video is played. It may have one of the following values:</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="no-bullets">
                        <li><span class="aln:text-center dsp:inline-block wd:5">none</span>= video should not be preloaded</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5">metadata</span>= only video metadata (e.g. length) is fetched</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5">auto</span>= whole video file can be downloaded, even if the user is not expected to use it</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5">empty string</span>= synonym of the auto value</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#CONTROLS#</td>
                <td class="pad:+0.50">If set, the browser will display options to allow the user to control video playback, including volume, seeking, and pause/resume playback.</td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">&nbsp;</td>
                <td class="pad:+0.50">
                    <ul class="no-bullets">
                        <li><span class="aln:text-center dsp:inline-block wd:5">true</span>= show controls</li>
                        <li><span class="aln:text-center dsp:inline-block wd:5"><del>controls=""</del></span>= do not display</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="fnt:weight-bolder pad:+0.50">#SOURCE#</td>
                <td class="pad:+0.50">Link to video.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sm)dsp:none txt:frame">
    <p>&nbsp;</p>
    <p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
    <p>&nbsp;</p>
</div>
<!--  tmpl:ANNOTATION -->
<div class="sm)dsp:none txt:frame">
    <p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
    <tbody>
        <tr>
            <td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
                <i class="fas fa-user">&#8203;</i>
            </td>
            <td class="aln:text-left aln:middle bg:tint-bas+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
                Template must be configured before use.
            </td>
        </tr>
    </tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
    <p class="fnt:weight-normal">Related Topics</p>
    <ul class="fnt:size-small">
        <li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
        <li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
        <li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
    </ul>
</div>
