<p class="dsp:none">/* git:video_vimeo_min.html */</p>
<h5 class="mar:bottom+1.25">editor view</h5>
<!--  tmpl:VIDEO/VIMEO -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100%">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">22200508</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Vimeo Video Template</div>
<div class="fnt:weight-bolder">Taking Pictures</div>
</div>
</div>
</div>
</div>
<!-- /tmpl:VIDEO/VIMEO -->
<h5 class="mar:vrt+1.25">web view</h5>
<!--  tmpl:VIDEO/VIMEO -->
<div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]">
<div class="dsp:tbl-rw-grp pad:+0.75 wd:100%">
<div class="dsp:tbl-rw">
<div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5">
<div class="fnt:size-3x-large"><i class="fas fa-file-signature">&#8203;</i></div>
<div class=" fg:wcag-grey9 fnt:size-x-small">22200508</div>
</div>
<div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5">
<div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large">Vimeo Video Template</div>
<div class="fnt:weight-bolder">Taking Pictures</div>
</div>
</div>
</div>
</div>
<div class="mar:bottom+0.5 mce[dsp:none]">
<div class="wd:100%">
<div style="padding:56.25% 0 0 0;position:relative;">
<iframe src="https://player.vimeo.com/video/119520956" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
</div>
</div>
<!-- /tmpl:VIDEO/VIMEO -->
<h5 class="mar:bottom+1.25 mar:top+1">template</h5>
<div class="dsp:none sm)dsp:block">
<pre>
&lt;!--  tmpl:VIDEO/VIMEO --&gt;
&lt;div class="bg:bas-050 bdr:solid-thick bdr:bas-300 cnr:arch-small dsp:tbl mar:vrt+0.5 wd:100% web[dsp:none]"&gt;
    &lt;div class="dsp:tbl-rw-grp pad:+0.75 wd:100%"&gt;
        &lt;div class="dsp:tbl-rw"&gt;
            &lt;div class="aln:text-center bas:tint+1 dsp:tbl-td pad:vrt+0.5 wd:5"&gt;
                &lt;div class="fnt:size-3x-large"&gt;&lt;i class="fas fa-file-signature"&gt;&amp;#8203;&lt;/i&gt;&lt;/div&gt;
                &lt;div class=" fg:wcag-grey9 fnt:size-x-small"&gt;22200508&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="aln:middle dsp:tbl-td pad:left+1 pad:vrt+0.5"&gt;
                &lt;div class="fnt:weight-bolder fnt:size-larger sm)fnt:size-x-large"&gt;Vimeo Video Template&lt;/div&gt;
                &lt;div class="fnt:weight-bolder"&gt; <samp>#TITLE#</samp> &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    &lt;div class="mar:bottom+0.5 mce[dsp:none]"&gt;
        &lt;div class="wd:100%"&gt;
            <samp>#IFRAME#</samp>
        &lt;/div&gt;
    &lt;/div&gt;
&lt;!-- /tmpl:VIDEO/VIMEO --&gt;
</pre>
<div class="aln:text-center fg:wcag-grey6 fnt:size-x-small md)dsp:none sm)fnt:size-small mar:bottom+1 mar:top-0.75 wd:100%">
<i class="fas fa-caret-left">&#8203;</i><span class="pad:hrz+0.5">scroll</span><i class="fas fa-caret-right">&#8203;</i>
</div>
</div>
<div class="dsp:none sm)dsp:block">
<h3 class="mar:vrt+1.25">template markers</h3>
<table class="bdr:collapse bas:bas-050 bdr:solid-thick bdr:bas-300 bdr:space+0.125 cols:auto cnr:arch-small wd:100%">
<thead class="bas:tint+1 fnt:weight-bolder">
<tr>
<td class="wd:6 md)wd:7 pad:+0.50">Marker</td>
<td class="pad:+0.50">Description</td>
</tr>
</thead>
<tbody class="aln:top bg:content fnt:size-smaller">
<tr>
<td class="fnt:weight-bolder bg:bas-050 pad:+0.50">#TITLE#</td>
<td class="pad:+0.50">Name/Short description</td>
</tr>
<tr>
<td class="fnt:weight-bolder bg:bas-050 pad:+0.50">#IFRAME#</td>
<td class="pad:+0.50">To obtain the iframe goto Vimeo (browser) and select the desired video. Click share, and then embed. To the right is a link titled "show options". Click this link to set display preferences. When all changes are in place click inside the text area to select and copy the contents to the clipboard. Highlight the #iframe# marker and paste the contents of the clipboard. The solution is responsive.</td>
</tr>
</tbody>
</table>
</div>
<div class="sm)dsp:none txt:frame">
<p class="aln:text-center"><span class="pad:right+0.5"><i class="fas fa-file-signature">&#8203;</i></span>The template code is available for viewing on a larger display.</p>
</div>
<!--  tmpl:ANNOTATION -->
<table class="bdr:collapse bdr:hidden cols:auto mar:vrt+1.25 wd:100%">
<tbody>
<tr>
<td class="aln:middle bg:wcag-grey9 cnr:arch-left-small fnt:size-large fg:wht pad:hrz+0.75">
<i class="fas fa-user">&#8203;</i>
</td>
<td class="aln:text-left aln:middle bas:tint+1 cnr:arch-right-small fnt:size-smaller pad:vrt+0.5 wd:100%">
Template must be configured before use.
</td>
</tr>
</tbody>
</table>
<!-- /tmpl:ANNOTATION -->
<div class="prt[dsp:none]">
<p class="fnt:weight-normal">Related Topics</p>
<ul class="fnt:size-small">
<li>“Xidipity WordPress Blog.” Xidipity, xidipity.com/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/advance-framework/overview/.</li>
<li>“*Overview.” Xidipity Web Docs, doc.xidipity.com/reference/css/palette-framework/overview/.</li>
<li>“Taking Pictures.” Vimeo Video, www.vimeo.com/littlebutfiercedodo/videos/490067144981768/.</li>
<li>“Installation.” Xidipity Web Docs, doc.xidipity.com/guides/installation/early-bound-template/.</li>
</ul>
</div>
